@font-face {
    font-family: 'HackNerdFontBold';
        src: url('/assets/Hack-nerd-font/HackNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'HackNerdFontBoldItalic';
        src: url('/assets/Hack-nerd-font/HackNerdFont-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'HackNerdFontItalic';
        src: url('/assets/Hack-nerd-font/HackNerdFont-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'HackNerdFontRegItalic';
        src: url('/assets/Hack-nerd-font/HackNerdFont-RegItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'HackNerdFontRegular';
        src: url('/assets/Hack-nerd-font/HackNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'HackNerdFont';
        src: url('/assets/Hack-nerd-font/HackNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'HackNerdFont';
        src: url('/assets/Hack-nerd-font/HackNerdFont-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'HackNerdFont';
        src: url('/assets/Hack-nerd-font/HackNerdFont-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'HackNerdFont';
        src: url('/assets/Hack-nerd-font/HackNerdFont-RegItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'HackNerdFont';
        src: url('/assets/Hack-nerd-font/HackNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

