body {
    background: #f9dbbd;
    font-family: 'HackNerdFontRegular';
    font-weight: normal;
    font-style: normal;
    max-width: 800px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

code {
    color: #da627d;
}

.navbar ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.navbar li {
    font-size: large;
    display: inline;
    margin-left: 0px;
}

.navbar a {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    width: 25%;
}

.navbar a:hover {
    color: #a53860;
}

.pfp {
    width: 400px;
    max-width: 100%;
    border-radius: 20px;
    height: auto;
}

.highlight {
    overflow-x: auto;
    color: #ffa5ab;
    padding: 10px;
    background: #450920;
}

.n {
    color: #df65de;
}

.k, .kt {
    color: #8cf683;
}

.c1, .cm {
    color: #a6fcfc;
}

.cp {
    color: #ea4696;
}

.cpf {
    color: #ffff00;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: #450920;
    font-size: large;
    max-width: 1000px;
    word-wrap: break-word;
}

a {
    color: #da627d;
    max-width: 1000px;
    word-wrap: break-word;
    text-decoration: none;
}

a:hover {
    color: #a53860;
}

h1, h2, h3,
h4, h5, h6 {
    color: #450920;
    max-width: 1000px;
    word-wrap: break-word;
}

footer {
    color: #450920;
    max-width: 1000px;
    word-wrap: break-word;
}
