body {
    background: #141519;
    font-family: 'FantasqueSansMonoRegular';
    font-weight: normal;
    font-style: normal;
    max-width: 800px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

code {
    color: #fefefe;
}

.pfp {
    width: 400px;
    max-width: 100%;
    border-radius: 20px;
    height: auto;
}

.highlight {
    overflow-x: auto;
    color: #fefefe;
    padding: 10px;
    background: #292b33;
}

.n {
    color: #df65de;
}

.k, .kt {
    color: #8cf683;
}

.c1, .cm {
    color: #a6fcfc;
}

.cp {
    color: #ea4696;
}

.cpf {
    color: #ffff00;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: #74fbfa;
    font-size: large;
    max-width: 1000px;
    word-wrap: break-word;
}

a {
    color: #53b8f8;
    font-size: large;
    max-width: 1000px;
    word-wrap: break-word;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
}

h1, h2, h3,
h4, h5, h6 {
    color: #ea4696;
    max-width: 1000px;
    word-wrap: break-word;
}

footer {
    color: #e43edf;
    max-width: 1000px;
    word-wrap: break-word;
}
